* {
  min-height: 0;
  min-width: 0;
  font-family: "JetBrainsMono NFP", monospace;
  font-size: 16px;
  font-weight: 500;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: #1C1B1A; /* base-950 — background principal */
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #282726; /* base-900 — bloco neutro */
  color: #CECDC3; /* base-200 — texto principal */
}

#workspaces button:hover {
  background-color: #343331; /* base-850 — hover leve */
  color: #CECDC3; /* base-200 */
}

#workspaces button.active {
  background-color: #343331; /* base-850 */
  color: #4385BE; /* blue-400 — destaque ativo */
}

#workspaces button.urgent {
  background-color: #343331; /* base-850 */
  color: #D14D41; /* red-400 — estado urgente */
}

#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #282726; /* base-900 — fundo de widget */
  color: #CECDC3; /* base-200 — texto padrão */
}

#mpris.playing {
  color: #879A39; /* green-400 — música tocando */
}

#mpris.paused {
  color: #6F6E69; /* base-600 — estado inativo */
}

#custom-sep {
  padding: 0px;
  color: #6F6E69; /* base-600 — separador discreto */
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu,
#memory,
#tray,
#custom-logo,
#window {
  color: #CECDC3; /* base-200 — texto normal */
}

#clock {
  color: #6F6E69; /* green-400 — leve destaque */
}
#pulseaudio {
  color: #CECDC3; /* base-200 */
}

#pulseaudio.muted {
  /* color: #6F6E69;  base-600 — mute (apagado) */
  color: #D14D41;
}

#custom-powermenu {
    color: #D14D41;             /* cor do ícone */
    padding: 0 10px;
    font-size: 18px;
}
#custom-powermenu:hover {
    background-color: #44475a;  /* cor ao passar o mouse */
}


tooltip {
  background-color: #1C1B1A; /* base-950 — fundo do tooltip */
  border: 2px solid #4385BE; /* blue-400 — borda sutil */
  color: #CECDC3; /* base-200 — texto do tooltip */
}

#custom-eyes {
  font-size: 20px;
  margin: 0 6px;
}
