/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Adaptado para Flexoki Dark por huds
 * 
 * Colors
 **/

* {
    background:     #100F0F;  /* base0 */
    background-alt: #1C1B1A;  /* base01 */
    foreground:     #F2F0E5;  /* base7 */
    selected:       #7A9B9F;  /* teal-3 */
    active:         #A37ACC;  /* violet-3 */
    urgent:         #D36B6B;  /* red-3 */
}
